<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sofoskills</title>
    <!-- Add these links to the head of your HTML file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/base.css" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="header">
          <a href="{{ url_for('login') }}"><button class="button-15" role="button"> login</button></a>
          <a href="{{ url_for('register') }}"><button class="button-15"> Register </button></a>
        </div>
        {% block content %}{% endblock content %}
    </div>
    
</body>
</html>