<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css" type="text/css" />
    <title>Sofoskills</title>
</head>
<body>
    <div class="container">
        <div class="header">
          <a href="{{ url_for('login') }}"><button class="button-15" role="button" >login</button></a>
            <a href="{{ url_for('register') }}"><button class="button-15" >Register</a></button></a>
        </div>
        <div class="main">
          <div class="left"> <a href="{{ url_for('question') }}"><button class="button-49" >lets get started</button></a></div>
            <div class="right"></div>
        </div>
    </div>
    <main role="main" class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-info">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>